body {
  padding-top: 50px;
}
table {
	width: 50%;
}
td {
	position: relative;
	border:1px solid black;
}
/* small hack to force square table cells http://stackoverflow.com/questions/22835430/make-table-cells-square */
td:after {
	content: '';
	display: block;
	margin-top: 100%;
}
td .content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
td .content.win {
	background-color:green;
}
td .token {
	display:inline-block;
	width:80%;
	height:80%;
	border:1px solid #EEE;
	border-radius:50%;
	margin:10%;
}
td .token.red {
	border-color:black;
	background-color:red;
}
td .token.yellow {
	border-color:black;
	background-color:yellow;
}